/* Main CSS */

/* End Main CSS */

/* NavBar */
.navbar {
    background-color: #333333;
    height: 8vh;
    z-index: 1;
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: red;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;
}

/* End NavBar */

/* Page 0 */
/* #p1 {
    background-color: aqua;
} */


#p0 h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em black;
    background: url('/assets/img/bannière_occordo.jpg');
    background-size: cover;
    filter: brightness(85%);
    font-size: 80px;
    height: 92vh;
    z-index: -1;
    /* A ajuster par rapport à la navBar. */
}

#p0 h2 {
    font-size: 2.5em;
}

#p0 .desc {
    color: white;
    background-color: #333333;
    margin: 0 auto;
}

#p0 .desc:first-of-type {
    border-radius: 3em 3em 0 0;
}

#p0 .desc:last-of-type {
    border-radius: 0 0 3em 3em;
}

#p0 .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p0 .caption-text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    margin: 0;
    position: absolute;
    color: white;
    text-align: center;
    height: 100%;
    background-color: rgba(153, 1, 0, 0.8);
}

#p0 .caption-text:hover {
    width: 75%;
    opacity: 1;
    transition: 0.5s;
    transform: scale(1.1);
}

/* End Page 0 */

/* p3 */
#p3 {
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
}

#p3 .contactColor {
    color: #990100;
    text-align: center;
}

#p3 #buttonSub {
    background-color: #990100;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 7px;
    width: 50%;
    align-self: center;
}

#p3 #gMap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#p3 .centerText {
    text-align: center;
    list-style: none;
}

#p3 form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#p3 #formControl {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end p3 */
/* Page 1 */
#p1 {
    background-color: #E8E8E8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p1 h1 {
    color: #990100;
    padding-bottom: 10px;
    border-bottom: 2px dashed #707070;
}


@media (max-width:768px) {
    #p1 #clip {
        width: 300px;
        height: auto;
    }
}

#p1 h2,
h3 {
    color: #707070;
}

#p1 h2 {
    font-size: 25px;
}

#p1 h3 {
    margin-top: 20px;
}

#p1 ul {
    text-align: left;
    list-style: square;
    background-color: #333333;
    color: white;
    padding: 0;
    padding: 50px;
    border-radius: 15px;
}

/* End Page 1 */
/* ================Début Page 3======================= */

#p2 h1 {
    color: #990100 !important;
    font-size: 30px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#p2 h2 {
    font-weight: bold;
    margin-bottom: 60px;
}

#p2 .desc1 {
    margin-top: 70px;
    padding: 30px;
    color: white;
    background-color: #333333;
    margin-bottom: 70px;
    border-radius: 1em 1em;
    width: 80%;

}

#p2 .desc2 {
    padding: 30px;
    color: white;
    background-color: #333333;
    margin-bottom: 70px;
    border-radius: 1em 1em;
    width: 80%;
}




/*================= Fin Page 3======================= */

/* Footer */
footer a {
    text-decoration: none !important;
    color: white;
}

footer a:hover {
    color: red;
}

@media (min-width: 992px) {
    .infos {
        text-align: start !important;
    }

    .imgSocial {
        text-align: end !important;
    }

    .social {
        text-align: end !important;
        margin-right: 37px !important;
    }
}



/* End Footer */